:root {
  /* The main number of elements in Flexbox grid */
  --items: 4;
  /* The main gap indent in Flexbox grid */
  --indent: 24px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(176, 48, 214, 0.5);
  padding: 10px 0;
}

.search-input {
  min-width: 265px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo-card img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  font-weight: Medium; /* 500 */
}

button:hover,
button:focus {
  background-color: rgb(193, 211, 211);
}

.load-more {
  margin: 10px auto 0;
}
